<h1>Ember date-fns</h1>
<p>This is a demonstration of the <a href="https://github.com/oskarrough/ember-date-fns">ember-date-fns</a> addon.</p>

<hr>

<h3>date-format</h3>
{{today}}<br>
{{date-format today}}

<h3>date-from-now</h3>
Christmas 2016 was...<br>
{{date-from-now lastChristmas}}<br>
{{date-from-now lastChristmas addSuffix=true}}

<h3>Current year</h3>
{{year}}
